@import "src/styles/mixins";
@import "src/styles/variables";

.button {
  margin-bottom: 1rem;
  padding: 1rem;
  color: $primary-input-light;
  font-size: 20px;
  background-color: $primary-input-dark;
  border: none;
  @include border-radius;
  @include cursor;

  &:hover {
    @include opacity;
  }
}