<section class="chat-list">
    {{{searchInput}}}

    {{#if chatCards}}
        <div class="chat-list__wrapper">
            <div class="chat-list__list">
                {{#each chatCards}}
                    {{{chatCard}}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</section>
