<form>
    <div class="message-input">
        <button class="message-input__button" type="button"></button>
        <input class="message-input__input" type="text" name="input">
        <button class="message-input__button message-input__button--right disable" type="submit"></button>
    </div>
</form>
