<div class="message-input">
    <input class="message-input__input" type="text" name="input">
    <button class="message-input__button message-input__button--right" type="button"></button>
    <button class="message-input__button" type="button"></button>
</div>