<section class="form">
    <form class="form__wrapper">
        {{#if title}}
            <h1 class="form__title">{{title}}</h1>
        {{/if}}

        {{#if inputs}}
            {{#each inputs}}
                {{>input inputContext}}
            {{/each}}
        {{/if}}

        <footer class="form__footer">
            {{#if buttons}}
                {{#each buttons}}
                    {{>button buttonContext}}
                {{/each}}
            {{/if}}

            {{#if links}}
                {{#each links}}
                    <a class="form__link" href="{{url}}">{{linkName}}</a>
                {{/each}}
            {{/if}}
        </footer>
    </form>
</section>