$primary-main-dark: #102A43;
$primary-dark: #0A558C;
$primary-input-dark: #186FAF;
$primary-bg-dark: #186FAF;
$primary-links-light: #62B0E8;
$primary-font-light: #B6E0FE;
$primary-input-light: #DCEEFB;
$primary-light: #F0F4F8;

$neutrals-background-light: #BCCCDC;
$neutrals-light: #627D98;
$neutrals-mid: #486581;
$neutrals-dark: #334E68;

$primary-warning: #D64545;

