$primary-bg-main: #0a1929;
$primary-bg-form: #001e3c;
$primary-border: #1e4976;
$primary-bg-button: #007fff;
$primary-input-focus: #66b2ff;
$primary-input-light: #dceefb;

$primary-font-light: #fff;
$primary-font-mid: #186faf;
$primary-font-dark: #102a43;

$primary-warning: #d64545;

$neutrals-background-light: #bcccdc;
$neutrals-bg-dark: #1a2f3f;
