@import "src/styles/mixins";
@import "src/styles/variables";

.chat-card {
  display: flex;
  padding: 8px;
  max-height: 80px;
  @include cursor;

  &:hover {
    background: rgba(0, 0, 0, .1);
    @include opacity;
  }

  &__description {
    margin-left: .5rem;
    text-align: left;
    color: $primary-main-dark;
    width: 80%;
  }

  &__user-name {
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__message {
    font-size: .8rem;
    line-height: 1rem;
    font-weight: lighter;
    opacity: .5;
  }


  &__additional {
    margin-left: auto;
  }

  .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    height: 20px;
    min-width: 20px;
    font-size: 12px;
    color: $primary-light;
    line-height: 20px;
    text-align: center;
    background-color: $primary-input-dark;
    @include border-radius;
  }
}