@import "src/styles/mixins";
@import "src/styles/variables";

.message {
  position: relative;
  margin-top: 1rem;
  margin-right: auto;
  max-width: 500px;
  color: $primary-light;
  background-color: $neutrals-mid;
  padding: 1rem 2rem 2rem 1rem;
  border: 1px solid $neutrals-light;
  @include box-shadow;
  @include border-radius;

  &--myself {
    background-color: $primary-bg-dark;
    margin-left: auto;
    margin-right: 0;
  }

  &__timestamp {
    position: absolute;
    font-size: 10px;
    bottom: 4px;
    right: 4px;
    opacity: .5;
  }
}

@media (min-width: 1600px) {
  .message {
    &--myself {
      margin-left: 0;
    }
  }
}